{% extends "base.html" %}
{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../../index" class="nhsuk-breadcrumb__link">Home</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../../main/Searchfor-page" class="nhsuk-breadcrumb__link">Search</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../../tree" class="nhsuk-breadcrumb__link">Tree</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../../insert/insert-type" class="nhsuk-breadcrumb__link">Insert</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="insert-form-details" class="nhsuk-breadcrumb__link">GP Details</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="insert-form-options" class="nhsuk-breadcrumb__link">GP Options</a>
</li>
{% endblock %}
{% block content %}




<div class="nhsuk-width-container">
    <h1 class="nhsuk-heading-l">Insert general practioner</h1>
    <h2 class="nhsuk-heading-l" id="parent">Bevan group practice</h2>
    <h3 class="nhsuk-heading-s" id="parent-code">Parent code: xxxx</h3>
<!--    <p>From: 01-July-2022 <br/>-->
<!--        To: 01-July-9999-->
<!--    </p>-->


    <span class="nhsuk-hint">
        If the full address is not known you can carry out an
    <a href="address-search" class="nhsuk-link--no-visited-state nhsuk-u-margin-bottom-2 nhsuk-u-font-size-19" >
        address search
    </a>
    </span>

    <form action="">

        <fieldset class="nhsuk-fieldset" role="group" >

            <div class="nhsuk-form-group">
                <label for="address-1" class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-3" id="label-type" >Address Line 1</label>
                <input type="text" id="address-1" class="nhsuk-input  nhsuk-input--width-20">
            </div>

            <div class="nhsuk-form-group">
                <label for="address-2" class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-2" id="label-type-2">Address Line 2</label>
                <input type="text" id="address-2" class="nhsuk-input  nhsuk-input--width-20">
            </div>

            <div class="nhsuk-form-group">
                <label for="address-3" class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-2" id="label-type-3">Address Line 3</label>
                <input type="text" id="address-3" class="nhsuk-input  nhsuk-input--width-20">
            </div>

            <div class="nhsuk-form-group">
                <label for="address-4" class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-2" id="label-type-4">Address Line 4</label>
                <input type="text" id="address-4" class="nhsuk-input  nhsuk-input--width-20">
            </div>

            <div class="nhsuk-form-group">
                <label for="postcode" class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-2" id="label-type-4">Postcode</label>
                <input type="text" id="postcode" class="nhsuk-input  nhsuk-input--width-10">
            </div>

        </fieldset>


        <a class="nhsuk-button nhsuk-u-margin-top-3" href="summary" id="continue">Continue</a>

    </form>



</div>

<script>

    const date = new Date();
    const day = "01";
    const month = date.getMonth();
    const year = date.getFullYear();


    const startDay = document.querySelector('#start-day');
    const startMonth = document.querySelector('#start-month');
    const startYear = document.querySelector('#start-year');

    startDay.value = day;
    startMonth.value = month < 10 ? "0"+month.toString() : month.toString();
    startYear.value = year.toString();
</script>


<script>
    const queryParams = window.location.search;
    const urlParams = new URLSearchParams(queryParams);
    const change = urlParams.get('change');
    const backLink = document.querySelector('#back-link');

    if(change == 'true'){
        backLink.href="summary.html"
    }

    const address1  = urlParams.get('address1');
    const address2  = urlParams.get('address2');
    const address3  = urlParams.get('address3');
    const address4  = urlParams.get('address4');
    const postcode  = urlParams.get('postcode');

    const address1Element = document.querySelector('#address-1');
    const address2Element  = document.querySelector('#address-2');
    const address3Element  = document.querySelector('#address-3');
    const address4Element  = document.querySelector('#address-4');
    const postcodeElement  = document.querySelector('#postcode');

    address1Element.value = address1;
    address2Element.value = address2;
    address3Element.value = address3;
    address4Element.value = address4;
    postcodeElement.value = postcode;

</script>

<!--<script>-->
<!--    const queryParams = window.location.search;-->
<!--    const urlParams = new URLSearchParams(queryParams);-->

<!--    let heading = urlParams.get('name');-->

<!--    heading = heading.replaceAll('%', ' ');-->

<!--    document.querySelector('#label-type').textContent = heading + " name";-->

<!--    document.querySelector('#continue').addEventListener("click", (event) => {-->
<!--        event.currentTarget.href=`insert-code?name=${heading}`;-->
<!--    })-->

<!--</script>-->

{% endblock %}
