{% extends "base.html" %}
{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../../index" class="nhsuk-breadcrumb__link">Home</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../main/Searchfor-page" class="nhsuk-breadcrumb__link">Search</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../../tree" class="nhsuk-breadcrumb__link">Tree</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../../insert/insert-type" class="nhsuk-breadcrumb__link">Insert</a>
</li>
{% endblock %}
{% block content %}




<div class="nhsuk-width-container">
    <h1 class="nhsuk-heading-l">Insert general practioner</h1>
    <h2 class="nhsuk-heading-m" id="parent">Bevan group practice</h2>
<!--    <h3 class="nhsuk-heading-s" id="parent-type">Parent Type: GP practice / Cost centre </h3>-->
    <h3 class="nhsuk-heading-s" id="parent-code">Parent code: xxxx</h3>
<!--    <p>From: 01-July-2022 <br/>-->
<!--        To: 01-July-9999-->
<!--    </p>-->


    <!--    <div class="nhsuk-back-link">-->
    <!--        <a href="insert-type.html" class="nhsuk-back-link__link">-->
    <!--            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">-->
    <!--                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>-->
    <!--            </svg>-->
    <!--            Go back-->
    <!--        </a>-->
    <!--    </div>-->

    <form action="">

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">


                <div class="nhsuk-form-group">
                    <div class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                            Gender
                        </legend>

                        <div class="nhsuk-hint nhsuk-u-margin-bottom-3">
                            Select one option
                        </div>

                        <div class="nhsuk-radios">
                            <div class="nhsuk-radios__item">
                                <input type="radio" class="nhsuk-radios__input" id="female" name="gender" value="mr">
                                <label for="female" class="nhsuk-label nhsuk-radios__label">Female</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input type="radio" class="nhsuk-radios__input" id="male" name="gender" value="mrs">
                                <label for="male" class="nhsuk-label nhsuk-radios__label">Male</label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input type="radio" class="nhsuk-radios__input" id="other" name="gender" value="Ms">
                                <label for="other" class="nhsuk-label nhsuk-radios__label">Other</label>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <a class="nhsuk-button nhsuk-u-margin-top-3" href="insert-form-details-dob" id="continue">Continue</a>

    </form>



</div>

<script>

    const date = new Date();
    const day = "01";
    const month = date.getMonth();
    const year = date.getFullYear();


    const startDay = document.querySelector('#start-day');
    const startMonth = document.querySelector('#start-month');
    const startYear = document.querySelector('#start-year');

    startDay.value = day;
    startMonth.value = month < 10 ? "0"+month.toString() : month.toString();
    startYear.value = year.toString();
</script>



<!--<script>-->
<!--    const queryParams = window.location.search;-->
<!--    const urlParams = new URLSearchParams(queryParams);-->

<!--    let heading = urlParams.get('name');-->

<!--    heading = heading.replaceAll('%', ' ');-->

<!--    document.querySelector('#label-type').textContent = heading + " name";-->

<!--    document.querySelector('#continue').addEventListener("click", (event) => {-->
<!--        event.currentTarget.href=`insert-code?name=${heading}`;-->
<!--    })-->

<!--</script>-->

{% endblock %}
