<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends "base.html" %}
<!--Nav-->
{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../index" class="nhsuk-breadcrumb__link">Home</a>
</li>

{% endblock %}

{% block content %}
<div class="grid-row">
    <div class="nhsuk-width-container">
        <div class="column-two-thirds">

            <h1>Opening hours file Error Page
            </h1>
        </div>
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Errors
    </span>
            </h3>
            <p>You are seeing this page because the file you uploaded has errors</p>
        </div>

        <!--this has just been linked to the summary page for demonstration purposes and would link back to where ever the file would need to be edited-->
        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>To view and edit the errors in the XML file <a href="pg3-Opening-hours-summary.html"
                                                              title="External website">click here</a>.
            </p>
        </div>

        <div class="grid-row nhsuk-u-margin-top-5">
            <div class="column-two-thirds">
                <a class="nhsuk-button" type="submit" href="/test/index" id="cancel">
                    Cancel
                </a>
            </div>
        </div>

        <script>

<!--    const searchBtn = document.querySelector('#search');-->
<!--    const field = document.querySelector('#code');-->

<!--    searchBtn.addEventListener("click", (e) => {-->
<!--    e.preventDefault();-->

<!--    console.log(field.value);-->

<!--        if(field.value == ""){-->
<!--         window.location = "pg2-Opening-hours-error";-->
<!--        }else {-->
<!--        window.location="pg2-Opening-hours-error";-->
<!--        }-->
<!--    }-->
<!--    );-->
var search = document.getElementById("search");





        </script>


        {% endblock %}