{% extends "base.html" %}
{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../index" class="nhsuk-breadcrumb__link">Home</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../main/Searchfor-page" class="nhsuk-breadcrumb__link">Search</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../tree.html" class="nhsuk-breadcrumb__link">Tree</a>
</li>

{% endblock %}
{% block content %}




<div class="nhsuk-width-container">
    <h1 class="nhsuk-heading-l" id="heading">Data</h1>

<!--    <div class="nhsuk-back-link">-->
<!--        <a href="additional.html" class="nhsuk-back-link__link">-->
<!--            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">-->
<!--                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>-->
<!--            </svg>-->
<!--            Go back-->
<!--        </a>-->
<!--    </div>-->

    <form action="">

        <fieldset class="nhsuk-fieldset " role="group" >
            <div class="nhsuk-form-group">
                <legend
                        class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <label id="qcompanyNameLabel" class="nhsuk-heading-s nhsuk-u-margin-bottom-1"
                           for="identity0">Attribute</label>
                </legend>

                <select id="identity0"
                        class="nhsuk-select" style="width:100%"
                        aria-labelledby="qcompanyNameLabel">
                    <option value="">GP practice / Cost centre</option>
                    <option>Email Address</option>
                    <option>Hospital Alt Name</option>
                    <option>Hospital E-PACT Start Date</option>
                    <option>Hospital Speciality</option>
                    <option>Statutory Name</option>
                    <option>Main Hospital Ind</option>
                    <option>Hospital Dummy Code Ind</option>
                    <option>Hospital Tel Number</option>
                </select>
            </div>

        </fieldset>


        <fieldset class="nhsuk-fieldset" role="group" >
            <div class="nhsuk-form-group">
                <label for="type" class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-3" id="label-att">Value</label>
                <input type="text" id="type" class="nhsuk-input  nhsuk-input--width-20" >
            </div>

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">Start Date</legend>
                    <div class="nhsuk-hint" id="example-hint">For example, 15 3 1984</div>

                    <div class="nhsuk-date-input" id="example">

                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="start-day" class="nhsuk-label nhsuk-date-input__label">Day</label>
                                <input type="text" id="start-day" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" value="06">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="start-month" class="nhsuk-label nhsuk-date-input__label">Month</label>
                                <input type="text" id="start-month" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" value="02">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="start-year" class="nhsuk-label nhsuk-date-input__label">Year</label>
                                <input type="text" id="start-year" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" value="2022">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">End Date</legend>
                    <div class="nhsuk-hint" id="example-hint">For example, 15 3 1984</div>

                    <div class="nhsuk-date-input" id="example">

                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="end-day" class="nhsuk-label nhsuk-date-input__label">Day</label>
                                <input type="text" id="end-day" value="31" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" value="31">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="end-month" class="nhsuk-label nhsuk-date-input__label">Month</label>
                                <input type="text" id="end-month" value="12" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" value="12">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="end-year" class="nhsuk-label nhsuk-date-input__label">Year</label>
                                <input type="text" id="end-year" value="9999" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3" value="9999">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

<!--            <div class="nhsuk-form-group">-->
<!--                <div class="nhsuk-fieldset">-->
<!--                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend&#45;&#45;s">-->
<!--                        Do you want to add further attributes?-->
<!--                    </legend>-->

<!--                    <div class="nhsuk-radios nhsuk-radios&#45;&#45;inline">-->
<!--                        <div class="nhsuk-radios__item">-->
<!--                            <input type="radio" class="nhsuk-radios__input" id="yes" name="further-attributes" value="yes">-->
<!--                            <label for="yes" class="nhsuk-label nhsuk-radios__label">Yes</label>-->
<!--                        </div>-->
<!--                        <div class="nhsuk-radios__item">-->
<!--                            <input type="radio" class="nhsuk-radios__input" id="no" name="further-attributes" value="no">-->
<!--                            <label for="no" class="nhsuk-label nhsuk-radios__label">No</label>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </fieldset>

        <a href="success.html" id="continue" class="nhsuk-button nhsuk-u-margin-top-3">Save</a>

    </form>


</div>

<script type="text/javascript">

    accessibleAutocomplete.enhanceSelectElement({
        defaultValue : 'GMS/PMS/APMS',
        autoselect :false,
        placeholder : 'GP practice / Cost centre',
        showAllValues: true,
        selectElement : document.querySelector('#identity0'),
    });

    const search = document.querySelector('#identity0');
    search.setAttribute('disabled','');
    search.style.backgroundColor="#f0f2f3";

</script>

<script>
    const date = new Date();
    const day = "01";
    const month = date.getMonth();
    const year = date.getFullYear();


    const startDay = document.querySelector('#start-day');
    const startMonth = document.querySelector('#start-month');
    const startYear = document.querySelector('#start-year');

    startDay.value = day;
    startMonth.value = month < 10 ? "0"+month.toString() : month.toString();
    startYear.value = year.toString();



</script>





{% endblock %}
