{% extends "base.html" %}
{% block content %}




<div class="nhsuk-width-container">
    <h1 class="nhsuk-heading-l">Update</h1>

    <div class="nhsuk-back-link">
        <a href="insert-type.html" class="nhsuk-back-link__link">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Cancel
        </a>
    </div>

    <form action="">
        <fieldset class="nhsuk-fieldset" role="group" >

            <div class="nhsuk-form-group">
                <label for="type" class="nhsuk-label--s nhsuk-u-margin-bottom-3">Attribute type</label>
                <input type="text" class="nhsuk-input nhsuk-input--width-10 " id="type" value="STP code" disabled>
            </div>

            <div class="nhsuk-form-group">
                <label for="type" class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-3" id="label-type">Value</label>
                <input type="text" id="value" class="nhsuk-input  nhsuk-input--width-20">
            </div>

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">Start Date</legend>
                    <div class="nhsuk-hint" id="example-hint">For example, 15 3 1984</div>

                    <div class="nhsuk-date-input" id="example">

                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="start-day" class="nhsuk-label nhsuk-date-input__label">Day</label>
                                <input type="text" id="start-day" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="start-month" class="nhsuk-label nhsuk-date-input__label">Month</label>
                                <input type="text" id="start-month" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="start-year" class="nhsuk-label nhsuk-date-input__label">Year</label>
                                <input type="text" id="start-year" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">End Date</legend>
                    <div class="nhsuk-hint" id="example-hint">For example, 15 3 1984</div>

                    <div class="nhsuk-date-input" id="example">

                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="end-day" class="nhsuk-label nhsuk-date-input__label">Day</label>
                                <input type="text" id="end-day" value="31" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="end-month" class="nhsuk-label nhsuk-date-input__label">Month</label>
                                <input type="text" id="end-month" value="12" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label for="end-year" class="nhsuk-label nhsuk-date-input__label">Year</label>
                                <input type="text" id="end-year" value="99" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

        </fieldset>

        <a class="nhsuk-button nhsuk-u-margin-top-3" href="summary.html" id="continue">Continue</a>

    </form>



</div>

<script type="text/javascript">

    accessibleAutocomplete.enhanceSelectElement({
        defaultValue : '',
        autoselect : false,
        placeholder : 'Organisation unit',
        showAllValues: true,
        selectElement : document.querySelector('#identity0'),
    })
</script>

<script>
    const queryParams = window.location.search;
    const urlParams = new URLSearchParams(queryParams);

    let heading = urlParams.get('name');

    heading = heading.replaceAll('%', ' ');

    document.querySelector('#label-type').textContent = heading + " name";

    document.querySelector('#continue').addEventListener("click", (event) => {
        event.currentTarget.href=`insert-code?name=${heading}`;
    })

</script>

{% endblock %}
