{% extends "base.html" %}
{% block content %}




<div class="nhsuk-width-container">
    <h1 class="nhsuk-heading-l">Update</h1>

    <div class="nhsuk-back-link">
        <a href="../tree.html" class="nhsuk-back-link__link">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            Cancel
        </a>
    </div>

<!--<form action="">-->

<!--    <fieldset class="nhsuk-fieldset " role="group" >-->
<!--        <div class="nhsuk-form-group">-->
<!--            <legend-->
<!--                    class="nhsuk-fieldset__legend nhsuk-fieldset__legend&#45;&#45;l">-->
<!--                <label id="qcompanyNameLabel" class="nhsuk-heading-s nhsuk-u-margin-bottom-1"-->
<!--                       for="identity0">Organisation Type</label>-->
<!--            </legend>-->

<!--            <select id="identity0"-->
<!--                    class="nhsuk-select nhsuk-input&#45;&#45;width-10" style="width:100%"-->
<!--                    aria-labelledby="qcompanyNameLabel">-->
<!--                <option value=""></option>-->
<!--                <option value="Statutory name">Statutory name</option>-->
<!--                <option value="STP code">STP code</option>-->
<!--                <option value="STP name">STP Name</option>-->
<!--                <option value="Hospital">STP OCS code </option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </fieldset>-->
<!--    <a class="nhsuk-button nhsuk-u-margin-top-3" href="update-data" id="btn-continue">Continue</a>-->
<!--</form>-->

    <div class="nhsuk-table__panel-with-heading-tab nhsuk-table-responsive" id="table-results">
        <h2 class="nhsuk-table__heading-tab">Payment Machine Code</h2>
        <table class="nhsuk-table">

        <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
            <!--                                                        <th>Data Type</th>-->
            <th>Value</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>select</th>
        </tr>
        </thead>
        <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
            <!--                                                        <td class="nhsuk-table__cell">Payment Machine Code</td>-->
            <td class="nhsuk-table__cell">SHK</td>
            <td class="nhsuk-table__cell">01/10/2006</td>
            <td class="nhsuk-table__cell">31/12/9999</td>
            <td><a href="" class="nhsuk-link--no-visited-state update-link">select</a></td>
        </tr>
        <tr class="nhsuk-table__row">
            <!--                                                        <td class="nhsuk-table__cell">Payment Machine Code</td>-->
            <td class="nhsuk-table__cell">CHS</td>
            <td class="nhsuk-table__cell">01/01/0001</td>
            <td class="nhsuk-table__cell">30/09/2006</td>
            <td><a href="" class="nhsuk-link--no-visited-state update-link">select</a></td>
        </tr>
        </tbody>
    </table>

    </div>

    <a class="nhsuk-button nhsuk-u-margin-top-3" href="update-data" id="continue" disabled="">Continue</a>


</div>

<script type="text/javascript">

    accessibleAutocomplete.enhanceSelectElement({
        defaultValue : '',
        autoselect : false,
        placeholder : 'Attribute',
        showAllValues: true,
        selectElement : document.querySelector('#identity0'),
    })
</script>

<script defer>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    console.log(urlParams);

    let heading = urlParams.get('name');

    heading = heading.replaceAll('%', ' ');
    //update heading
    const headingElement = document.querySelector('#qcompanyNameLabel');
    headingElement.textContent = heading;

    console.log(heading);

    // if(heading == 'Nurse' || heading == 'Prescriber dispenser type'){
    //     const code = document.querySelector('#label-code');
    //     code.textContent="Alt code";
    // }


    // document.querySelector('#continue').addEventListener("click", (event) => {
    //     const selected = document.querySelector('#identity0').value;
    //     event.currentTarget.href=`insert-name?name=${selected}`;
    // })

</script>

<script>

    const tableResults = document.querySelector('#table-results');


    const updateLinks =  document.querySelectorAll('.update-link');
    console.log(updateLinks);
    updateLinks.forEach(a => {
        a.addEventListener("click", (event) => {
            event.preventDefault();
            const btnContinue = document.querySelector('#continue');
            btnContinue.removeAttribute("disabled");
        })
    })
</script>

{% endblock %}
