{% extends "base.html" %}

{% block optional %}
<a style="color: white; float: right;" href="insert-type" class="nhsuk-breadcrumb__link">Back to orignal</a>
{% endblock %}


{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../index" class="nhsuk-breadcrumb__link">Home</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../main/Searchfor-page" class="nhsuk-breadcrumb__link">Search</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../tree.html" class="nhsuk-breadcrumb__link">Tree</a>
</li>
{% endblock %}

{% block content %}

<script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled'
        : 'js-enabled');
</script>


<style>
    option[data-show]:checked {
        color: red;
    }
</style>


<div class="nhsuk-width-container">
    <h1 class="nhsuk-heading-l">Insert organisation unit / prescriber dispenser</h1>

<!--    <div class="nhsuk-back-link">-->
<!--        <a href="../tree.html" class="nhsuk-back-link__link">-->
<!--            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">-->
<!--                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>-->
<!--            </svg>-->
<!--            Cancel-->
<!--        </a>-->
<!--    </div>-->

    <div class="nhsuk-error-summary" hidden
         aria-labelledby="errors-summary"
         role="alert"
          id="error-summary">
        <h2 class="nhsuk-error-summary__title"
            id="errors-summary">
            There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
            <ul class="nhsuk-list nhsuk-error-summary__list" id="error-ul">
            </ul>
        </div>

    </div>

<form action="">


    <fieldset class="nhsuk-fieldset " role="group" >
        <div class="nhsuk-form-group " id="type-form-group">
            <legend
                    class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-2">
                <label id="qcompanyNameLabel" class="nhsuk-label--m nhsuk-u-margin-bottom-1"
                       for="identity0">Type</label>
            </legend>

            <span class="nhsuk-error-message" id="error-type" style="display: none">
                <span class="nhsuk-u-visually-hidden">Error:</span>
                Please select a type
            </span>

            <select id="identity0"
                    class="nhsuk-select nhsuk-input--width-10 "
                    style="width:100%"
                    aria-labelledby="qcompanyNameLabel">
                <option value=""></option>
                <option value="Community Nurse Prescribing Contract">Community Nurse Prescribing Contract</option>
                <option value="Contractor">Contractor</option>
                <option value="GP Practice / Cost Centre">GP Practice / Cost Centre</option>
                <option value="Hospital">Hospital</option>
                <option value="Private Group">Private Group</option>

            </select>
        </div>
    </fieldset>

    <div class="nhsuk-form-group" id="startdate-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">Start Date</legend>
            <div class="nhsuk-hint" id="example-hint">For example, 15 3 1984</div>

            <span class="nhsuk-error-message" id="error-startdate" style="display: none">
                <span class="nhsuk-u-visually-hidden">Error:</span>
                Enter a valid start date
            </span>

            <div class="nhsuk-date-input" id="organisation-startdate">
                <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                        <label for="start-day" class="nhsuk-label nhsuk-date-input__label">Day</label>
                        <input type="text" id="start-day" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2">
                    </div>
                </div>
                <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                        <label for="start-month" class="nhsuk-label nhsuk-date-input__label">Month</label>
                        <input type="text" id="start-month" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 ">
                    </div>
                </div>
                <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                        <label for="start-year" class="nhsuk-label nhsuk-date-input__label">Year</label>
                        <input type="text" id="start-year" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3 ">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="nhsuk-form-group " id="enddate-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">End Date</legend>
            <div class="nhsuk-hint" id="example-hint">For example, 15 3 1984</div>

            <span class="nhsuk-error-message" id="error-enddate" style="display: none">
                <span class="nhsuk-u-visually-hidden">Error:</span>
                Enter a valid end date
            </span>

            <div class="nhsuk-date-input" id="organisation-enddate">

                <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                        <label for="end-day" class="nhsuk-label nhsuk-date-input__label">Day</label>
                        <input type="text" id="end-day" value="31" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 ">
                    </div>
                </div>
                <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                        <label for="end-month" class="nhsuk-label nhsuk-date-input__label">Month</label>
                        <input type="text" id="end-month" value="12" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 ">
                    </div>
                </div>
                <div class="nhsuk-date-input__item">
                    <div class="nhsuk-form-group">
                        <label for="end-year" class="nhsuk-label nhsuk-date-input__label">Year</label>
                        <input type="text" id="end-year" value="9999" class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3 ">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>


    <a class="nhsuk-button nhsuk-u-margin-top-5" href="insert-type-optional-values" id="continue">Continue</a>
</form>
</div>

<script type="text/javascript">

    accessibleAutocomplete.enhanceSelectElement({
        defaultValue : '',
        autoselect : false,
        placeholder : 'Organisation unit / Prescriber dispenser',
        showAllValues: true,
        selectElement : document.querySelector('#identity0'),
    })
</script>

{% endblock %}
