{% extends "base.html" %}
{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../../test/index" class="nhsuk-breadcrumb__link">Home</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../../main/Searchfor-page" class="nhsuk-breadcrumb__link">Search</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../../tree" class="nhsuk-breadcrumb__link">Tree</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../../insert/insert-type" class="nhsuk-breadcrumb__link">Insert</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="insert-form-details" class="nhsuk-breadcrumb__link">Nurse Details</a>
</li>
{% endblock %}
{% block content %}




<div class="nhsuk-width-container">
    <h1 class="nhsuk-heading-l">Insert nurse</h1>
    <h2 class="nhsuk-heading-l" id="parent">Bevan group practice</h2>
    <h3 class="nhsuk-heading-s" id="parent-code">Parent code: xxxx</h3>
<!--    <p>From: 01-July-2022 <br/>-->
<!--        To: 01-July-9999-->
<!--    </p>-->


    <form action="">


        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l nhsuk-u-margin-bottom-0">
                    <p class="nhsuk-heading-s">
                        Is the nurse suspended?
                    </p>
                </legend>

                <div class="nhsuk-hint nhsuk-u-margin-bottom-3">
                    A suspended nurse ...
                </div>

            <div class="nhsuk-radios nhsuk-radios--inline">
                <div class="nhsuk-radios__item">
                    <input type="radio" id="suspended-yes" name="suspended" class="nhsuk-radios__input">
                    <label for="suspended-yes" class="nhsuk-label nhsuk-label--s nhsuk-radios__label">
                        Yes
                    </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input type="radio" id="suspended-no" name="suspended" class="nhsuk-radios__input" checked>
                    <label for="suspended-no" class="nhsuk-label nhsuk-label--s nhsuk-radios__label">
                            No
                    </label>
                </div>
            </div>
            </fieldset>
        </div>


        <a class="nhsuk-button nhsuk-u-margin-top-3" href="insert-form-address" id="continue">Continue</a>

    </form>



</div>

<script>

    const date = new Date();
    const day = "01";
    const month = date.getMonth();
    const year = date.getFullYear();


    const startDay = document.querySelector('#start-day');
    const startMonth = document.querySelector('#start-month');
    const startYear = document.querySelector('#start-year');

    startDay.value = day;
    startMonth.value = month < 10 ? "0"+month.toString() : month.toString();
    startYear.value = year.toString();
</script>



<!--<script>-->
<!--    const queryParams = window.location.search;-->
<!--    const urlParams = new URLSearchParams(queryParams);-->

<!--    let heading = urlParams.get('name');-->

<!--    heading = heading.replaceAll('%', ' ');-->

<!--    document.querySelector('#label-type').textContent = heading + " name";-->

<!--    document.querySelector('#continue').addEventListener("click", (event) => {-->
<!--        event.currentTarget.href=`insert-code?name=${heading}`;-->
<!--    })-->

<!--</script>-->

{% endblock %}
