{% extends "base.html" %}
{% block content %}

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" href="/test/index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Go back</a>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1>Master data repository (MDR) browse user home page
        </h1>
        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
                <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                    <h1 class="nhsuk-fieldset__heading">
                        Current browse date  01/06/2022
                    </h1>
                </legend>

        <main id="maincontent" role="main">

            <section class="nhsuk-section">
                <div class="nhsuk-width-container app-width-container">
                    <ul class="nhsuk-grid-row nhsuk-card-group">
                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                            <div class="nhsuk-card nhsuk-card--clickable">
                                <div class="nhsuk-card__content"style="text-align:center">
                                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Searchtype-page">Search</a></h2>
                                </div>
                            </div>
                        </li>
                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                            <div class="nhsuk-card nhsuk-card--clickable">
                                <div class="nhsuk-card__content"style="text-align:center">
                                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Tree view </a></h2>
                                </div>
                            </div>
                        </li>
                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                            <div class="nhsuk-card nhsuk-card--clickable">
                                <div class="nhsuk-card__content"style="text-align:center">
                                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Setbrowsedate-page">Set browse date </a></h2>
                                </div>
                            </div>
                        </li>
                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                            <div class="nhsuk-card nhsuk-card--clickable">
                                <div class="nhsuk-card__content"style="text-align:center">
                                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Options </a></h2>
                                </div>
                            </div>
                        </li>
                    
<!--                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">-->
<!--                            <div class="nhsuk-card nhsuk-card&#45;&#45;clickable">-->
<!--                                <div class="nhsuk-card__content">-->
<!--                                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Prescribing budgets</a></h2>-->
<!--                                    <p class="nhsuk-card__description">Description</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">-->
<!--                            <div class="nhsuk-card nhsuk-card&#45;&#45;clickable">-->
<!--                                <div class="nhsuk-card__content">-->
<!--                                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Global reference </a></h2>-->
<!--                                    <p class="nhsuk-card__description">Guidance-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">-->
<!--                            <div class="nhsuk-card nhsuk-card&#45;&#45;clickable">-->
<!--                                <div class="nhsuk-card__content">-->
<!--                                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">Bulk moves</a></h2>-->
<!--                                    <p class="nhsuk-card__description">Guidance </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <hr class="nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-6">
                    <!--                    <div class="nhsuk-grid-row">-->
                    <!--                        <div class="nhsuk-grid-column-two-thirds">-->

                    <!--                            <h2>Feedback</h2>-->
                    <!--                            <p>Let us know about your visit to the service manual today by filling in <a href="https://feedback.digital.nhs.uk/jfe/form/SV_9GIQAEkm6gfFCWp">our survey on the Qualtrics website</a>.</p>-->
                    <!--                            <h2>Support</h2>-->
                    <!--                            <p>The manual is maintained by the <a href="/service-manual-team">service manual team at NHS Digital</a>. If you've got a question or want to feedback, you can <a href="/get-in-touch">get in touch</a>.</p>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </section>
        </main>
        <!--        <a class="nhsuk-button" type="submit" href="check-list">-->
        <!--            Go somewhere-->
        <!--        </a>-->

    </div>
</div>
{% endblock %}