{% extends "base.html" %}
<!--Nav-->
{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../index" class="nhsuk-breadcrumb__link">Home</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="../main/bulkmove-Viewcriteria-page" class="nhsuk-breadcrumb__link">Search criteria</a>
</li>
{% endblock %}

{% block content %}


<div class="grid-row">
    <div class="nhsuk-width-container">
        <div class="column-two-thirds">
            <h1> View bulk moves
            </h1>
        </div>

        <table role="table" class="nhsuk-table-responsive">
            <caption class="visually-hidden">table showing bulk move status</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">
                   Alt code
                </th>
                <th role="columnheader" class="" scope="col">
                    Source
                </th>
                <th role="columnheader" class="" scope="col">
                    Target
                </th>
                <th role="columnheader" class="" scope="col">
                   Status
                </th>
                <th role="columnheader" class="" scope="col">
                    Updates
                </th>
                <th role="columnheader" class="" scope="col">
                    Effective
                </th>
                <th role="columnheader" class="" scope="col">
                    User
                </th>

            </tr>
            </thead>
            <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">

                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Code </span>CPE AD900
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">source  </span>GP practice/cost centre Y04789
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">target </span>CPE W2U3Z
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">status </span>Complete
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">update </span>12/03/2020
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">effective </span>01/04/2020
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">user </span>CHRCA
                </td>

            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Code </span>CPE AD900
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">source  </span>GP practice/cost centre Y04789
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">target </span>CPE W2U3Z
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">status </span>Pending
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">update </span>12/03/2020
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">effective </span>01/04/2020
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">user </span>CHRCA
                </td>

            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Code </span>CPE AD900
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">source  </span>GP practice/cost centre Y04789
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">target </span>CPE W2U3Z
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">status </span>Complete
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">update </span>12/03/2020
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">effective </span>01/04/2020
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">user </span>CHRCA
                </td>

            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Code </span>CPE AD900
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">source  </span>GP practice/cost centre Y04789
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">target </span>CPE W2U3Z
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">status </span>Pending
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">update </span>12/03/2020
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">effective </span>01/04/2020
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">user </span>CHRCA
                </td>

            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Code </span>CPE AD900
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">source  </span>GP practice/cost centre Y04789
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">target </span>CPE W2U3Z
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">status </span>Pending
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">update </span>12/03/2020
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">effective </span>01/04/2020
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">user </span>CHRCA
                </td>

            </tr>
            </tbody>
        </table>
<BR>
<!--        <table role="table" class="nhsuk-table-responsive">-->
<!--            <caption class="nhsuk-table__caption">Moved item</caption>-->
<!--            <thead role="rowgroup" class="nhsuk-table__head">-->
<!--            <tr role="row">-->
<!--                <th role="columnheader" class="" scope="col">-->
<!--                    Child-->
<!--                </th>-->
<!--                <th role="columnheader" class="" scope="col">-->
<!--                    Source-->
<!--                </th>-->
<!--                <th role="columnheader" class="" scope="col">-->
<!--                    Target-->
<!--                </th>-->
<!--                <th role="columnheader" class="" scope="col">-->
<!--                    Status-->
<!--                </th>-->
<!--                <th role="columnheader" class="" scope="col">-->
<!--                    Updates-->
<!--                </th>-->
<!--                <th role="columnheader" class="" scope="col">-->
<!--                    Effective-->
<!--                </th>-->
<!--                <th role="columnheader" class="" scope="col">-->
<!--                    User-->
<!--                </th>-->

<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody class="nhsuk-table__body">-->
<!--            <tr role="row" class="nhsuk-table__row">-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">Child</span>Commissioner or Provider all children-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">Source </span>Commissioner or Provider all children-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>Commissioner or provider in England-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>Pending-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>12/03/2020-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>01/04/2020-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>CHRCA-->
<!--                </td>-->

<!--            </tr>-->
<!--            <tr role="row" class="nhsuk-table__row">-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">Age </span>Commissioner or Provider all children-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>Commissioner or provider in England-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>Pending-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>12/03/2020-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>01/04/2020-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>CHRCA-->
<!--                </td>-->

<!--            </tr>-->
<!--            <tr role="row" class="nhsuk-table__row">-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">Age </span>Commissioner or Provider all children-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>Commissioner or provider in England-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>Pending-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>12/03/2020-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>01/04/2020-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>CHRCA-->
<!--                </td>-->

<!--            </tr>-->
<!--            <tr role="row" class="nhsuk-table__row">-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">Age </span>Commissioner or Provider all children-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>Commissioner or provider in England-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>Pending-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>12/03/2020-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>01/04/2020-->
<!--                </td>-->
<!--                <td role="cell" class="nhsuk-table__cell">-->
<!--                    <span class="nhsuk-table-responsive__heading">How much? </span>CHRCA-->
<!--                </td>-->

<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<br>
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="nhsuk-button" type="submit " href="../tree">
                    Done
                </a>
            </div>
        </div>
    </div>
</div>

<script>

    const searchBtn = document.querySelector('#search');
    const field = document.querySelector('#code');

    searchBtn.addEventListener("click", (e) => {
    e.preventDefault();

    console.log(field.value);

        if(field.value == ""){
         window.location = "Searchnoresult-page";
        }else {
        window.location="SearchResultsnontab-page";
        }
    }
    );

</script>


{% endblock %}