{% extends "base.html" %}
{% block optional %}
<a style="color: white; float: right;" href="SearchResultsnontab-page" class="nhsuk-breadcrumb__link">Back to
    origional</a>
{% endblock %}
<!--Nav-->
{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../index" class="nhsuk-breadcrumb__link">Home</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="globalReference-page" class="nhsuk-breadcrumb__link">Global reference</a>
</li>
{% endblock %}

{% block content %}

<div class="grid-row">
    <div class="nhsuk-width-container">
        <div class="column-two-thirds">
            <h1>Global reference results
            </h1>
        </div>

        <fieldset class="nhsuk-fieldset">
            <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" style="float:right" href="globalReferenceinsert-page">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Insert global reference</span>
                </a>
            </div>
            <hr>
            <table role="table" class="nhsuk-table-responsive">
                <caption class="nhsuk-table__caption"></caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                        Parameter ID
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Value
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Description
                    </th>

                    <th role="columnheader" class="" scope="col">
                        Date effective
                    </th>

                    <th role="columnheader" class="" scope="col">
                        Edit
                    </th>
                </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">parameter id</span>DIN2022
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">value</span>352140
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">description</span>next DIN number 2022-351170
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">date effective</span>01/01/0001
                    </td>

                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">select </span><a href="globalReferenceedit-page">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">perameter id</span>DIN2021
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">value</span>348885
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">description</span>next DIN number 2021-350000
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">date effective</span>01/01/0001
                    </td>

                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">select </span><a href="globalReferenceedit-page">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">perameter id</span>DIN2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">value</span>346775
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">description</span>next DIN number 2020

                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">date effective</span>01/01/0001
                    </td>

                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">select </span><a href="globalReferenceedit-page">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">perameter id</span>DIN2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">value</span>346775
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">description</span>next DIN number 2020

                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">date effective</span>01/01/0001
                    </td>

                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">select </span><a href="globalReferenceedit-page">Edit</a>
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">perameter id</span>DIN2020
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">value</span>346775
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">description</span>next DIN number 2020

                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">date effective</span>01/01/0001
                    </td>

                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">select </span><a href="globalReferenceedit-page">Edit</a>
                    </td>
                </tr>

                </tbody>
            </table>




</div>
</div>

{% endblock %}