{% extends "base.html" %}
{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../index" class="nhsuk-breadcrumb__link">Home</a>
</li>

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-width-container">

        <h1> Options
        </h1>


        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
            <h1 class="nhsuk-fieldset__heading">
                Current browse date 01/06/2022
            </h1>
        </legend>
    </div>
    <main id="maincontent" role="main">

        <section class="nhsuk-section">
            <div class="nhsuk-width-container app-width-container">
                <ul class="nhsuk-grid-row nhsuk-card-group">

                    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content" style="text-align:center">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="structure-page">Select structures</a></h2>
                            </div>
                        </div>
                    </li>
                    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content" style="text-align:center">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Password-page">Change passwords</a></h2>
                            </div>
                        </div>
                    </li>
                    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content" style="text-align:center">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="audit-search-page">View audit</a></h2>
                            </div>
                        </div>
                    </li>
                    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                        <div class="nhsuk-card nhsuk-card--clickable">
                            <div class="nhsuk-card__content" style="text-align:center">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="Showhistory-page">Show
                                    history</a></h2>
                            </div>
                        </div>
                    </li>
            </div>

</section>
</main>
<!--        <a class="nhsuk-button" type="submit" href="check-list">-->
<!--            Go somewhere-->
<!--        </a>-->


</div>
</div>
{% endblock %}