{% extends "base.html" %}

{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../index" class="nhsuk-breadcrumb__link">Home</a>
</li>

{% endblock %}

{% block content %}

<div class="grid-row">
    <div class="nhsuk-width-container">
        <div class="column-two-thirds">
            <h1>Reset password
            </h1>
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example-with-hint-text">
                Enter new password
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" inputmode="numeric">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example-with-hint-text">
                Re-enter new password
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" inputmode="numeric">
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="nhsuk-button" type="submit " href="../index">
                    Save
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}