{% extends "base.html" %}



{% block navcontent %}
<li class="nhsuk-breadcrumb__item">
    <a href="../index" class="nhsuk-breadcrumb__link">Home</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="Searchfor-page" class="nhsuk-breadcrumb__link">Search</a>
</li>
<li class="nhsuk-breadcrumb__item">
    <a href="Searchcriteria-page" class="nhsuk-breadcrumb__link">Search criteria</a>
</li>
{% endblock %}
{% block content %}


    <!-- Main content wrapper here -->

    <!--title-->
    <div class="grid-row">
        <div class="nhsuk-width-container">
        <div class="column-two-thirds">
            <h1>Search result for:
            </h1>
            <h2>Nurse
            </h2>
        </div>

        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    NPM code
                </dt>
                <dd class="nhsuk-summary-list__value">
                    99C2245E
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Margaret O'Donnel
                </dd>

            </div>


            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Address/CCG
                </dt>
                <dd class="nhsuk-summary-list__value">
                    North East Ambulance Services.NHS Trust /RX600
                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Parent org name/code
                </dt>
                <dd class="nhsuk-summary-list__value">
                    Y05633
                </dd>

            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Dates
                </dt>
                <dd class="nhsuk-summary-list__value">
                    <p>01 April 2020 to 31 December 9999</p>

                </dd>
                <dd class="nhsuk-summary-list__actions">

                    <a href="../tree">
                        Select
                    </a>

                </dd>

            </div>

        </dl>
        <hr>
        <div class="grid-row">

            <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        NPM code
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        99C2245E
                    </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Margaret O'Donnel
                    </dd>

                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Address/CCG
                    </dt>
                    <dd class="nhsuk-summary-list__value">

                        Another practice / another code
                    </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Parent org name/code
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Y05633
                    </dd>

                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Dates
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        <p>01 April 2010 to 01 April 2020</p>

                    </dd>
                    <dd class="nhsuk-summary-list__actions">

                        <a href="../tree">
                            Select
                        </a>

                    </dd>

                </div>

            </dl>

            <hr>
            </dl>
            <div class="grid-row">

                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            NPM code
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            99C2245E
                        </dd>

                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Margaret O'Donnel
                        </dd>

                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Address/CCG
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Another practice / another code
                        </dd>

                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Parent org name/code
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Y05633
                        </dd>

                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Dates
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <p>01 April 2004 to 01 April 2010</p>

                        </dd>
                        <dd class="nhsuk-summary-list__actions">

                            <a href="../tree">
                                Select
                            </a>
                        </dd>
                    </div>
                </dl>

            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}